<%- include('./partials/head',{
    title :' Register'
}) %>

    <body>

        <%- include('./partials/header') %>

            <main class="register__main">

                <form action="/users/update/1"  class="form__register" method="POST">
                    <h2 class="form__register-title">Registrate</h2>

                    <p class="form__register-paragraph">¿Ya tenés cuenta? <a href="/users/login" class="form__link">Ingresa aquí</a></p>
                    <div class="form__register-container">

                        <div class="form__register-group">
                            <input type="text" id="name" class="form__register-input" name="name"  placeholder=" " >
                            <label for="name" class="form__register-label">Nombre:</label>
                            <small><%= locals.errors && errors.name ? errors.name.msg : null %></small>

                        </div>
                        <div class="form__register-group">
                            <input type="text" id="surname" name="surname" class="form__register-input" placeholder=" " value="<%= locals.old && old.name ? old.name : null %>" >
                            <label for="surname" class="form__register-label">Apellido:</label>
                            <small><%= locals.errors && errors.surname ? errors.surname.msg : null %></small> 
                        </div>
                       
                    
                        <div class="form__register-group">
                            <input type="email" id="email" name="email" class="form__register-input"  placeholder=" " value="<%= locals.old && old.email ? old.email : null %>">
                            <label for="email" class="form__register-label">Email:</label>
                            <small><%= locals.errors && errors.email ? errors.email.msg : null %></small> 
                        </div>
                        <div class="form__register-group">
                            <input type="password" id="password" name="password" class="form__register-input" placeholder=" " value="<%= locals.old && old.password ? old.password : null %>">
                            <label for="password" class="form__register-label">Contraseña:</label>
                            <small><%= locals.errors && errors.password ? errors.password.msg : null %></small> 
                        </div>
                    



                        <div class="form__register-button">
                            <button type="submit" class="form__button-register" value="Entrar">Guardar</button>
                            <input type="reset" class="form__button-register" value="Eliminar">
                        </div>


                    </div>


                </form>

            </main>

            <!-- footer -->
            <%- include('./partials/footer') %>


    </body>

    </html>